@import './prismjs-yuchanns.styl'

.content strong 
	font-weight 600 
	color #fff 
	background linear-gradient(to right, #F92672, #0cf) 
	border-width 0.25em 0px 
	padding 2px 4px 


.content img 
	box-shadow 0 0 10px #555
	border-radius 6px

.content h2 > a.header-anchor
	font-size 100px
	position relative
	top -60px
	left 60px
	opacity .1

.content h2:hover > a.header-anchor
	opacity .3

.table-of-contents > ul
	list-style none

.table-of-contents > ul > li
	margin-bottom 10px
	counter-increment a
	&:before
		content counter(a)
		border-radius 5px
		margin-right 14px
		background-color $accentColor
		color #fff
		width 25px
		padding 4px 0
		text-align center
		display inline-block
		font-weight 700
