// color
$accentColor = #31AFB4
$nprogressColor = $accentColor
$codeBgColor = #2D2B55
$readingProgressImage = linear-gradient(-120deg, #E50743 0%, #F9870F 15%, #E8ED30 30%, #3FA62E 45%, #3BB4D7 60%, #2F4D9E 75%, #71378A 80%)